table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

textarea {
    resize: none;
    width: 95%;
}

#sectionMenu ul {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
#sectionMenu li {
    display: table-cell;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    word-wrap: break-word;
    height: 100%;
}
#sectionMenu button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-color: #ffffff;
    background-color: #e4e4e4;
    color: #1c1c1c;
}
#sectionMenu button:hover {
    background-color: #ffffff;
    color: #1b1b1b;
}
#sectionMenu button.selected {
    border-color: #a8fffe;
    background-color: #1b1b1b;
    color: #ffffff;
}

#uploadSection input[type="checkbox"] {
    width: auto;
}

#editSection input{
    white-space: pre-wrap;
    padding: auto;
    margin: 1px;
    border-color: rgba(0, 0, 0, 255);
    border-width: 0.5px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    font-size: 1.1rem;
    outline: 0px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
}

#editSection input[type="checkbox"] {
    width: auto;
}

#editSection input:read-only {
    background-color: rgba(0, 0, 0, 0.1);
}

#editSection input:not(:read-only) {
    background-color: rgba(0, 0, 0, 0);
}

#editSection input.changed,select.changed {
    border-color: rgb(200, 254, 255);
    background-color: rgba(138, 221, 221, 0.3);
}

#editSection input[type="checkbox"].changed{
    outline: 2px solid rgb(200, 254, 255);
}

#editSection button {
    margin: 10px;
}

#formTable {
    width: 100%;
    border-collapse: collapse;
}

#formTable th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#formTable input {
    width: 100%;
    font-size: 1.2rem;
}

#formTable div {
    padding: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.pagination {
    display: inline-block;
    width: 100%;
}
  
.pagination a {
    color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
    font-size: 90%;
    width: min(8vw, 40px);
    padding: 8px 0px 8px 0px;
    text-align: center;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}

#resultList h2,h4 {
    margin: 0;
    padding: 2px;
}

#resultList table,tr,td {
    border: 0px solid black;
}

#resultList td:not(:first-child) {
    padding-left: 30px;
}

#pageSection {
    a{
        text-decoration: none;
    }
    font-size: 1rem;
    @media (min-width:601px)  
    { 
        font-size: min(3.2vw, 14px);
    }
}

#searchForm div{
    flex-direction: row;
    flex-wrap: wrap;
}

#searchForm input,option,select,button{
    font-size: 0.85em;
    margin-right: 5px;
    margin-bottom: 3px;
}
