table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

textarea {
    resize: none;
    width: 95%;
}

#sectionMenu ul {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
#sectionMenu li {
    display: table-cell;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    word-wrap: break-word;
    height: 100%;
}
#sectionMenu button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-color: #ffffff;
    background-color: #e4e4e4;
    color: #1c1c1c;
}
#sectionMenu button:hover {
    background-color: #ffffff;
    color: #1b1b1b;
}
#sectionMenu button.selected {
    border-color: #a8fffe;
    background-color: #1b1b1b;
    color: #ffffff;
}
#editSection tr {
    height: 10px;
    margin: 0px;
}
#editSection td {
    height: 10px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#editSection div div {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#editSection textarea {
    width: 100%;
    height: 10px;
    
    white-space: pre-wrap;
    padding: auto;
    margin: auto;
    border-color: rgba(0, 0, 0, 255);
    background-color: rgba(0, 0, 0, 0);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
}

#editSection textarea:read-only {
    background-color: rgba(0, 0, 0, 0.1);
}

#editSection textarea:not(:read-only) {
    background-color: rgba(0, 0, 0, 0);
}

#editSection textarea.changed:read-only {
    border-color: rgb(0, 251, 255);
    background-color: rgba(0, 169, 163, 0.3);
}

#editSection textarea.changed:not(:read-only) {
    border-color: rgb(0, 251, 255);
    background-color: rgba(60, 255, 249, 0.3);
}

#formTable {
    width: 100%;
    border-collapse: collapse;
}

#formTable th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#formTable input {
    width: 100%;
    font-size: 1.2rem;
}

#formTable div {
    padding: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.pagination {
    display: inline-block;
    overflow: visible;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 1.5vw 1.5vw;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
    font-size: 90%;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}


#pageSection {
    a{
        text-decoration: none;
    }
    font-size: 1rem;
    @media (min-width:601px)  
    { 
        font-size: min(3.2vw, 14px);
    }
    
}
